<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="Test">
    <parameter name="url" value="https://www.google.com/"/>
     <parameter name="screenshotpath" value=".//Screenshot/screen.png"/>
    <classes>
      <class name="TakeScrrenShot.ScreenShot"/>
    </classes>
  </test> 
</suite> 
